{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
    <!-- product -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <!-- img -->
                <div class="col-md-6">
                    <img src="{{ product.image_main.url }}" class="img-fluid" align="{{ product.name }}">
                </div>
                <!-- end img -->
                <!-- description product -->
                <div class="col-md-6">
                    <h1>{{ product.name }}</h1>
                    <h2>{{ product.price }} €</h2>
                    <h3>Description</h3>
                    <hr>
                    <h6>{{ product.description }}</h6>
                    {% if product.stock <= 0 %}
                        <p>Rupture de stock</p>
                    {% else %}
                        <div class="py-4">
                            <a href="" class="btn btn-primary">Ajouter au panier</a>
                        </div>
                    {% endif %}
                </div>
                <!-- end description product -->
            </div>
        </div>
    </section>
    <!-- end product -->
{% endblock %}